@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #262626;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 30;
  padding-bottom: 20px;
  background: transparent;
}
header .wraper {
  max-width: 86.458vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .wraper h3 {
  font-size: 30px;
  color: #ffffff;
}
header .wraper nav {
  padding-top: 10px;
}
header .wraper nav ul {
  display: flex;
  list-style: none;
  gap: 2.015vw;
}
header .wraper nav ul li a {
  height: 130px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2625rem;
  font-weight: 400;
}

.active {
  font-weight: 700 !important;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  z-index: 29;
}
#home article h1 {
  color: #ffffff;
  font-size: clamp(1.563rem, 4.219vw, 5.125rem);
  font-weight: 700;
  line-height: 121px;
}
#home article h4 {
  font-size: 1.563vw;
  font-weight: 300;
  color: #ADADAD;
  margin-bottom: 3.75vw;
}
#home article a {
  font-size: 1.042vw;
  display: inline-block;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 32px;
  padding: 8px 25px 8px 25px;
  cursor: pointer;
}
#home article a i {
  margin-left: 8px;
}

#timeline {
  min-height: 100vh;
}
#timeline .timeline-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}
#timeline .timeline-wraper:nth-child(even) {
  justify-content: end;
}
#timeline .timeline-wraper .card {
  background-color: #FF7619;
  width: 513px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 19px #000000;
  color: #ffffff;
  margin-bottom: 50px;
}
#timeline .timeline-wraper .card dl {
  padding: 25px;
}
#timeline .timeline-wraper .card dl h4 {
  font-size: 20px;
}
#timeline .timeline-wraper .card dl dd {
  font-size: 18px;
  text-align: justify;
}
#timeline .timeline-wraper .card img {
  max-width: 513px;
}

#info {
  min-height: 100vh;
}
#info .container-fluid {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#info .container-fluid :nth-child(3) .content-box {
  flex-direction: row-reverse;
}
#info .container-fluid :nth-child(3) .content-box p {
  margin-right: 20px;
}
#info .container-fluid :nth-child(1) .content-box p {
  margin-left: 20px;
}
#info .container-fluid .content {
  display: flex;
  flex-direction: column;
  gap: 105px;
}
#info .container-fluid .content .content-box {
  padding: 20px;
  display: flex;
  align-items: center;
  min-height: 108px;
  max-width: 637px;
  color: #707070;
  background: rgba(13, 13, 13, 0.2);
  font-size: 16px;
}
#info .container-fluid .content .content-box img {
  max-width: 80px;
}
#info .container-fluid img {
  max-width: 300px;
}

footer {
  min-height: 525px;
  background-color: #1A1A1A;
}
footer .footer-wraper {
  display: flex;
  justify-content: space-around;
}
footer .footer-wraper article h4 {
  color: #ffffff;
}
footer .footer-wraper article p {
  max-width: 531px;
}
footer .footer-wraper article input {
  width: 531px;
  height: 228px;
}/*# sourceMappingURL=style.css.map */