footer{
    min-height: 225px;
    background-color: $bgfooter;
    padding-top: 30px;
    .footer-wraper{
        display: flex;
        justify-content: space-around;
        article{
            h4{
                color: $white;
            }
            p{
                max-width: 531px;
            }
            input{
                width: 531px;
                height: 228px;
            }
        }
    }
}